<!--<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>-->
<!--<%@ page contentType="text/html;charset=UTF-8" language="java" %>-->
<html>
<head>
    <title>Home page</title>
    <meta charset="utf-8">
    <!--<link href="<c:url value="/resources/dist/style.css" />" rel="stylesheet">-->
    <!--<script src="<c:url value="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" />"></script>-->
    <!--<script src="<c:url value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" />"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <link href="../../resources/dist/style.css" rel="stylesheet">
    <script src="../../resources/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../resources/node_modules/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script>
        function changeLanguage(language) {
            $('#currentLanguage').html(language.text);
        }

        function changePage(pageNo) {
            for (var i = 1; i < 5; i++) {
                if (i == pageNo) {
                    $('#page' + i).css("background-color", "black");
                    $('#page' + i).height("25px");
                }
                else {
                    $('#page' + i).css("background-color", "999999");
                    $('#page' + i).height("20px");
                }
            }
        }

    </script>
</head>
<body>

<div class="container">
    <div id="top">
        <div class="col-md-2 top-item" href="#">
            <span id="top-lets">lets<span id="top-play">play</span></span>
        </div>
        <div class="col-md-6 top-item">
        </div>
        <div class="col-md-1 top-item">
            <img src="../../resources/icons/Search_ico.png"/>
        </div>
        <div class="col-md-1" id="language">
            <a><span id="currentLanguage">PL</span> <img src="../../resources/icons/arrow.png"/></a>
            <div class="dropdown-content">
                <li><a href="#" onclick="changeLanguage(this)">PL</a></li>
                <li><a href="#" onclick="changeLanguage(this)">ENG</a></li>
            </div>
        </div>
        <div class="col-md-1" id="user">
            <a><img id="userIco" src="../../resources/icons/User_ico.png"/> <img src="../../resources/icons/arrow.png"/></a>
            <div class="dropdown-content">
                <li><a href="#">Logowanie</a></li>
                <li><a href="#">Rejestracja</a></li>
            </div>
        </div>
        <div class="col-md-1 top-item" id="shop" onclick="">
            <img src="../../resources/icons/Shop_ico.png"/>
            54.00
        </div>
    </div>


</div>
<div class="separator"></div>
<div class="container">
    <div id="menu">
        <div class="menu-item">
            <a>LAPTOPY</a>
            <div class="dropdown-content">
                <li><a href="#">Notebooki</a></li>
                <li><a href="#">Ultrabooki</a></li>
                <li><a href="#">Laptopy 2 w 1</a></li>
                <li><a href="#">Torby i etui</a></li>
                <li><a href="#">Akcesoria</a></li>
            </div>
        </div>

        <div class="menu-item">
            <a>TELEFONY I TABLETY</a>
            <div class="dropdown-content">
                <li><a href="#">Notebooki</a></li>
                <li><a href="#">Ultrabooki</a></li>
                <li><a href="#">Laptopy 2 w 1</a></li>
            </div>
        </div>

        <div class="menu-item">
            <a>KOMPUTERY PC</a>
            <div class="dropdown-content">
                <li><a href="#">Notebooki</a></li>
                <li><a href="#">Ultrabooki</a></li>
            </div>
        </div>

        <div class="menu-item">
            <a>TV, FOTO, VIDEO</a>
            <div class="dropdown-content">
                <li><a href="#">Notebooki</a></li>
                <li><a href="#">Ultrabooki</a></li>
                <li><a href="#">Notebooki</a></li>
                <li><a href="#">Ultrabooki</a></li>
            </div>
        </div>
        <div class="menu-item">
            <a>URZADZENIA PERYFERYJNE</a>
            <div class="dropdown-content">
                <li><a href="#">Notebooki</a></li>
                <li><a href="#">Ultrabooki</a></li>
            </div>
        </div>

        <div class="menu-item">
            <a>AKCESORIA</a>
            <div class="dropdown-content">
                <li><a href="#">Notebooki</a></li>
            </div>
        </div>

        <div class="menu-item">
            <a>SOFTWARE</a>
            <div class="dropdown-content">
                <li><a href="#">Notebooki</a></li>
                <li><a href="#">Ultrabooki</a></li>
            </div>
        </div>

    </div>

</div>
<div class="row" id="slider">
    <div class="col-md-4" id="pad">
    </div>
    <div class="col-md-offset-5  col-md-2" id="psLogo">
    </div>
    <div class="col-md-offset-5  col-md-2">
        <button id="btn-more">Wiecej</button>
    </div>
    <div class="col-md-offset-5 col-md-2">
        <div id="slider-pagination">
            <div id="page1" class="page" onclick="changePage(1)"></div>
            <div id="page2" class="page" onclick="changePage(2)"></div>
            <div id="page3" class="page" onclick="changePage(3)"></div>
            <div id="page4" class="page" onclick="changePage(4)"></div>
        </div>
    </div>
</div>


<div class="container null-padding" id="promo">
    <div class="col-md-8">
        <div class="col-md-12 null-padding-right">
            <div id="promo1" class="col-md-12">
                <div class="percent">-15%</div>
                <p>Rival300<br> CS:GO Fade</p>
                <div class="discription">Limitowana edycja<br> znajdującej się w Top10<br> myszy dla graczy!   </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div id="promo3" class="col-md-12">
                <p>HP Backpack Ultrabook SLim 16"</p>
                <div class="price">299PLN<span>399PLN</span></div>
            </div>
            <div id="promo5" class="col-md-12">
                <p>Edifier 2.0 R1600TIII</p>
                <div class="price">399PLN<span>499PLN</span></div>
            </div>
        </div>
        <div class="col-md-6" style="padding-left: 30px">
            <div id="promo4" class="row">
                <p>iPhone 7</p>
                <div class="discription">Tylko u nas wersja JetBlack <br>dostępna od ręki!</div>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div id="promo2" class="col-md-12">
            <p>Acer X113PH DLP</p>
            <div class="discription">Kinowa jakość teraz<br> w cenie 50 biletów<br> do Cinemacity.</div>
        </div>
        <div class="col-md-12"></div>
        <div id="promo6" class="col-md-12"></div>
    </div>
</div>


<div class="container" id="warranty">
    <div id="warranty-title" class="col-md-offset-3 col-md-6">
        <span id="warranty-part1">Gwarantujemy</span>
        <span id="warranty-part2">to czego</span>
        <span id="warranty-part3">klient oczekuje.</span>
    </div>
    <div class="col-md-4 warranty-item">
        <span class="row warranty-item-title">Szybka i<br> darmowa dostawa.</span>
        <div class="row iconWarranty"><img src="../../resources/icons/delivery_ico.png"/></div>
        <span class="row warranty-item-discription">Nie myslimy o zakazach,ograniczeniach czy innych przepisach.Paczka ma byc na wczoraj!</span>
    </div>
    <div class="col-md-4 warranty-item">
        <span class="row warranty-item-title">Najlepsza <br>jakosc.</span>
        <div class="row iconWarranty"><img src="../../resources/icons/quality_ico.png"/></div>
        <span class="row warranty-item-discription">Dzieciaka z chin dajemy odpoczac.Za nasza robote biora sie wylacznie najlepsi profesjonalisci.</span>
    </div>
    <div class="col-md-4 warranty-item">
        <span class="row warranty-item-title">Bezproblemowy <br>zwrot.</span>
        <div class="row iconWarranty"><img src="../../resources/icons/return_ico.png"/></div>
        <span class="row warranty-item-discription">Za male? Za zielone? Za slabe?Zwroc! O to chodzi, zebys był zadowolony!</span>
    </div>
</div>
<div class="row" id="newsletter">
    <div class="container">
        <div id="newsletter-title" class="col-md-offset-4 col-md-4">Badz na czasie.</div>
        <div id="newsletter-description" class="col-md-offset-3 col-md-6">Zapisz się do newslettera, będziemy Cię męczyć
            wszystkim co warte uwagi, ale tylko raz w tygodniu!
        </div>
        <div class="col-md-offset-3 col-md-6"><input id="inputNewsletter" placeholder="Twoj adres e-mail">
            <button id="btn-Newsletter">DOLACZ</button>
        </div>
        <div id="separatorNewsletter" class="col-md-offset-3 col-md-6"></div>
    </div>
</div>

<div class="row" id="footer">
    <div class="container">
        <div id="footer-part1" class="col-md-offset-1 col-md-2">&copy;<br><br><br>Copyright by <span>letsplay.com</span><br> All right reserved!</div>
        <div class="col-md-2 footer-parts"><p>LETSPLAY</p><br>
            <span>O Firmie</span><br>
            <span>Opinie o sklepie</span>
            <span>Aktualności</span><br>
            <span>Praca</span><br>
            <span>Program Partnerski</span><br>
            <span>Mapa Strony</span>
        </div>
        <div class="col-md-2 footer-parts"><p>POMOC</p><br>
            <span>Obsługa klienta</span><br>
            <span>Zwroty produktów</span>
            <span>Śledzenie przesyłki</span>
            <span>Logowanie</span><br>
            <span>Reguły wysyłki</span>
        </div>
        <div id="socialMedia" class="col-md-offset-2 col-md-2">
            <div class="col-xs-4" id="facebook"></div>
            <div class="col-xs-4" id="bird"></div>
            <div class="col-xs-4" id="iconP"></div>
        </div>
    </div>
</div>
</body>
</html>
